
/*body{*/
/*    background: #C33764;  !* fallback for old browsers *!*/
/*    background: -webkit-linear-gradient(to right, #2da9d9, #b73377);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(to right, #2da9d9, #b73377); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*    font-weight: bold ;*/
/*    font-family: "Arial";*/
/*    margin: auto;*/
/*    width: 80%;*/
/*    color: #C33764;*/
/*    direction: rtl;*/
/*    box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
/*    !*background-image: url("../pic/Background White Gallery Wedding Background Design.jpg");*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-attachment: fixed;*!*/
/*    !*background-position: center;*!*/
/*}*/

* {
    font-family: Calibri;
    font-weight: bold;
    margin: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #393939;
    margin: auto;
    direction: rtl;
    width: 100%;
}

.hbody{
    width: 80%;
}
#he1{

    margin: auto;
}
.header{
    display: flex;
    margin:  auto;
    padding: 5px 5px;
    background-color: rgb(255, 223, 0);
    /*opacity: 0.7;*/
    color: #ff2e33;
}
.header div{
    display: flex;
    margin:  auto;
    /*width: 1000px;*/
    height: 50px;
}
.header div a{
    margin:  auto 20px;
    padding: 0 1px;
    color: #ff2e33;
}
.header div a {
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
}
.header div a i{

    padding: 2px 0 0 8px ;
    text-decoration: none;
}

.header_font{
    margin: 10px auto;
    padding: 5px 3px;
    border: 1px solid #000000;
    border-radius: 70px;
    color: #000000;
    width: 80%;
}
.box_ser{
    display: block;
    margin: 20px auto;
    /*padding: 0 0;*/
    /*width: 90%;*/
    text-align: center;
    background-color: rgb(255, 223, 0);
    border: 1px solid #000000;
    border-radius: 80px;
    /*opacity: 0.7;*/
    color: #000000;
}

.log{

    width:400px;
    /*height:75px;*/
    background-color: rgb(255, 223, 0);
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    /*opacity: 0.7;*/
    margin: 5pc auto;

}

.reg{

    width:400px;
    /*height:75px;*/
    background-color: rgb(255, 223, 0);
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    /*opacity: 0.7;*/
    margin: 2pc auto;
}

.form_log{
    width:75%;
    margin: 14px auto 22px auto;
    padding: 14px 14px;
    /*height:75px;*/
    /*background-color: rgb(255, 223, 0);*/
    border:1px solid #000000;
    border-radius: 10px;

}
input,select,label{

    font-weight: bold ;
    font-size: 18px;

}
input[type=text],[type=date],[type=password],[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    border:1px solid #323c48;

}

input[type=submit] {
    width: 100%;
    background: -webkit-linear-gradient(to right, #ffffff, #ffdf00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #ffdf00);
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    border: 1px solid #000000;
}

input[type=submit]:hover {
    background: -webkit-linear-gradient(to right, #ffdf00, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdf00, #ffffff);
}




.alert {
    padding: 10px 15px;
    background-color: #ffdf00;
    color: #070707;
    margin: 10px auto;
    width: 400px;
    text-align: center;
    border-radius: 270px;
    border: 1px solid #323c48;
}

.closebtn {
    margin-right: 15px;
    color: #f5f5f5;
    font-weight: bold;
    float: left;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.grid-container-box-ser{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto ;
    /*background-color: #2196F3;*/
    padding:1px;
    width: 90%;
    margin: 3px auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
.grid-item-box-ser{

    padding: 2px 1px;
    margin: auto 3px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}





.grid-container {
    display: grid;
    grid-template-columns:auto auto auto auto auto auto  ;
    /*background-color: #2196F3;*/
    padding:1px;
    width: 95%;
    align-content: center;
    margin: 30px auto;

}
.grid-item {
    direction: rtl;
    background-color: rgba(255, 223, 0, 0.8);
     border: 1px solid rgba(7, 7, 7, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 7px;
    margin: 5px;
    /*opacity:0.7;*/

}

@media screen and (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns:auto auto;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 100%;
        margin: 60px auto;
    }
    .grid-container-box-ser{
        display: block;
        grid-template-columns:auto auto auto auto auto auto auto ;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 90%;
        margin: 3px auto;


    }
    .grid-container {
        display: grid;
        grid-template-columns:auto auto;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 100%;
        margin: 60px auto;
        font-size: 12px;
    }
    .reg{

        width:400px;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border: 3px solid #323c48;
        border-radius: 10px;
        text-align: center;
        /*opacity:0.7;*/
        margin: 2pc auto;

    }
    .form_log{
        width:80%;
        margin: 14px auto 22px auto;
        padding: 14px 14px;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border:1px solid #ffffff;
        border-radius: 10px;
        text-align: center;


    }

    .log{

        width: 400px;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border: 1px solid #ffffff;
        border-radius: 10px;
        text-align: center;
        /*opacity: 0.7;*/
        margin: 5pc auto;

    }
    .alert {
        padding: 10px 15px;
        background-color: #ffdf00;
        color: #070707;
        margin: 10px auto;
        width: 400px;
        text-align: center;
        border-radius: 270px;
        border: 1px solid #323c48;

    }


}

/* شاشة بعرض 731 */
@media screen and (max-width: 731px) {
    .grid-container {
        display: grid;
        grid-template-columns:auto auto;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 100%;
        margin: 60px auto;
    }
    .grid-container-box-ser{
        display: block;
        grid-template-columns:auto auto auto auto auto auto auto ;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 90%;
        margin: 3px auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

    }
    .grid-container {
        display: grid;
        grid-template-columns:auto auto;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 100%;
        margin: 60px auto;
        font-size: 12px;
    }
    .reg{

        width: 400px;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border: 3px solid #ffffff;
        border-radius: 10px;
        text-align: center;
        /*opacity:0.7;*/
        margin: 2pc auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .form_log{
        width:80%;
        margin: 14px auto 22px auto;
        padding: 14px 14px;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border:1px solid #ffffff;
        border-radius: 10px;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

    }

    .log{

        width: 400px;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border: 1px solid #ffffff;
        border-radius: 10px;
        text-align: center;
        /*opacity: 0.7;*/
        margin: 5pc auto;

    }
    .alert {
        padding: 10px 15px;
        background-color: #ffdf00;
        color: #070707;
        margin: 10px auto;
        width: 400px;
        text-align: center;
        border-radius: 270px;
        border: 1px solid #323c48;
            }


}

/* شاشة جوال بحجم 667*/
@media screen and (max-width: 667px) {
    .grid-container {
        display: grid;
        grid-template-columns:auto auto;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 100%;
        margin: 60px auto;
    }
    .grid-container-box-ser{
        display: block;
        grid-template-columns:auto auto auto auto auto auto auto ;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 90%;
        margin: 3px auto;


    }
    .grid-container {
        display: grid;
        grid-template-columns:auto auto;
        /*background-color: #2196F3;*/
        padding:1px;
        width: 100%;
        margin: 60px auto;
        font-size: 12px;
    }
    .reg{

        width:300px ;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border: 3px solid #323c48;
        border-radius: 10px;
        text-align: center;
        /*opacity:0.7;*/
        margin: 2pc auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .form_log{
        width:75%;
        margin: 14px auto 22px auto;
        padding: 14px 14px;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border:1px solid #ffffff;
        border-radius: 10px;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

    }

    .log{

        width:300px;
        /*height:75px;*/
        background-color: rgb(50, 60, 72);
        border: 1px solid #323c48;
        border-radius: 10px;
        text-align: center;
        /*opacity: 0.7;*/
        margin: 5pc auto;

    }
    .alert {
        padding: 10px 10px;
        background-color: #ffdf00;
        color: #070707;
        margin: 10px auto;
        width: 400px;
        text-align: center;
        border-radius: 270px;
       
        border: 1px solid #323c48;

    }

}




.pra_user{
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 7px auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    padding: 3px 3px;

}







.link_login{
    width: 100%;
    color: white;
text-decoration: none;
}

/*.link_login:hover{*/
/*    background: -webkit-linear-gradient(to left, #2da9d9, #b73377);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(to left, #2da9d9, #b73377);*/
/*}*/